.member{
  padding: 123px 0;
  &__title{
    color: $black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 36px;
  }
  &__subtitle{
    color: $black;
    font-size: 15px;
    text-align: center;
    margin-bottom: 126px;
  }
  &__img{
    height: 321px;
    border-radius: 5px;
    margin-bottom: 38px;
  }
  &__name{
    text-align: center;
    color: $black;
    font-size: 20px;
    margin-bottom: 12px;
  }
  &__position{
    margin-bottom: 28px;
    font-size: 15px;
    text-align: center;
    color: $black;
  }
  &__menu{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    list-style-type: none;
  }
  &__list{
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F0F1F1;
    border-radius: 7px;
    &:hover{
      background: #3949AB;
    }
  }
  &__list:hover>.member__icon{
    color: white;
  }
  &__icon{
    color: $green;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__dots{
    margin-top: 125px;
  }
  &__carousel{
    position: relative;
  }
  &__prev{
    position: absolute;
    left: 0;
    top: 160px;
    transform: translateX(-150%);
    background-color: transparent!important;
    color: $black!important;
    font-size: 40px!important;
    &:hover{
      color: $green!important;
    }
  }
  &__next{
    position: absolute;
    right: 0;
    top: 160px;
    transform: translateX(150%);
    background-color: transparent!important;
    color: $black!important;
    font-size: 40px!important;
    &:hover{
      color: $green!important;
    }
  }
  &__dot span{
    background-color: $green!important;
    font-size: 16px;
  }
  &__dot:hover span{
    background-color: blue!important;
  }
  &__dot.active span{
    background-color: blue!important;
  }
}